body {
    background-image: url(../images/darkness.png)
}

.container {
    margin: auto;
    text-align: center;
}
.crystals{
	display: flex;
	justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-left: 10%;
  
}

.crystal{
    cursor: pointer;
	height:156px;
	width: 200px;

}

#score-Goal {
    margin-left: 50%;
    color: white;
    width: 350px;
    text-align: center;
    border: 2px solid rgb(255, 0, 242);
    background-color: rgb(48, 16, 44);
    padding: 10px;
}

#result { 
    color: white;
}

#total-score, #win, #lose {
    color: white;
}

p {
    line-height: .7;
}
